<h1>search book</h1>

<html>
<head>

	
	<link href="style.css" rel="stylesheet"
</head>
<meta charset="UTF-8">
<title>search</title>
</head>
<body>
	<center>
		
		<h1><u><b>Search</b></u></h1>
		
		
		<input type="t" name="" id="">
		<button>search</button>
		<table border="1" style="width: 100px; text-align: center;">
			<tbody>
						</tbody>
			<thead>
				<tr>

					<td>bookName</td>
					<td>price</td>
					<td>author</td>
					

				</tr></thead>
			
		</table>

		<center>
</body>

</html>





<h1></h1>
<p>
	
	
	
</p>
<hr />