<!DOCTYPE html>
<html>
<head>
<title>login</title>

</head>
<body><center>
<form>
<h1><u><b>login Page</b></u></h1>
<table border="1" cellpading="3">

<tr>
<th>Email Id</th>
<th><input id="" type="text" name="emailId" ></th>
<td><span id="" style="color:red" ></span></td>
</tr>


<tr>
<th>Password</th>
<th><input id="" type="text" name="password"></th>
<td><span id="" style="color:red" ></span></td>
</tr>

<tr>
<th><input type="Reset" value="clear" class=""></th>
<th><input type="submit" value="login" name="action" >



</th>
</tr>

</table>
</form>
<h3><a href='/'>back</a></h3>
</center></body>
</html>
